.vscode/**
.vscode-test/**
.gitignore
.gitattributes
.github/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.editorconfig
.prettierrc
.eslintignore
webpack.config.js
**/test/**
**/jest.config.js
**/coverage/**
**/*.test.ts
**/*.spec.ts
ISSUE.md
private
pawn-package.json